* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #1D3557;
    --secondary-color: #A8DADC;
    --error-color: #E63946;
    --button-color: #457B9D;
}

body {
    background-color: var(--primary-color);
}

header {
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--secondary-color);
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    justify-content: space-between;
    gap: 15px;
}

nav ul li .btn {
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    font-size: 14px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

nav ul li input {
    margin-right: 5px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    color: var(--secondary-color);

    &::placeholder {
        color: var(--secondary-color);
    }
}

.hidden {
    display: none;
}

.modal-window-screen {
    z-index: 99;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000a1;
    left: 0;
    top: 0;
}

.modal-window-container {
    position: relative;
    top: 150px;
    margin: auto;
    background-color: #1b1e3f;
    height: auto;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}

.modal-window-container #note-title-input {
    margin-bottom: 15px;
    background-color: transparent;
    outline: none;
    padding: 3px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid;
    color: var(--secondary-color);

    &::placeholder {
        color: var(--secondary-color);
    }
}

.modal-window-container textarea {
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    color: var(--secondary-color);
    outline: none;
    padding: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-window-container #add-note-btn {
    width: 20%;
    align-self: center;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    cursor: pointer;
    color: inherit;

    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}

#notes-list {
    list-style-type: none;
    margin: 0 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#notes-list li {
    width: 300px;
    min-width: 150px;
    height: 200px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    word-wrap: normal;
    display: flex;
    flex-direction: wrap;
    flex-direction: column;
    overflow: hidden;
    color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

#notes-list li div.action-btns {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

#notes-list li div.action-btns button {
    padding: 3px 5px;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;

    color: var(--text-color);

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

#notes-list li div.action-btns button#delete-note-btn:hover {
    background-color: var(--error-color);
    color: #fff;
}

#notes-list li h2 {
    margin-bottom: 5px;
    color: inherit;
    font-size: 36px;
}

#notes-list li p {
    color: inherit;
    font-size: 20px;
}